<div class="container" ng-app="app" ng-controller="UserController as UserCon">
    <h1 class="text-center">Sign up</h1>
    <div class="form-row">
        <label for="email">Email</label>
        <input type="text" required ng-model="UserCon.currentUser.username">
    </div>
    <div class="form-row">
        <label for="password">Password</label>
        <input type="password" required ng-model="UserCon.currentUser.pw">
    </div>
    <div id="result"> </div>
    <div class="form-row">
        <input type="submit" value="Sign up" ng-click="UserCon.Signup()">
    </div>
    Already a User ? <a href="#login">Sign in </a>
</div>