<ion-view title="Login" id="signin"  hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <form class="list ">
            <ion-list >
                <label class="item item-input ">
                    <input type="text" placeholder="Username" required ng-model="myUser.username">
                </label>
                <label class="item item-input ">
                    <input type="password" placeholder="Password"  required ng-model="myUser.pw">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class=" button button-positive button-block "  ng-click="Login()">Log in</button>
            <a ui-sref="signup" style="text-align:left;" class=" button button-positive button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>